.project-list-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.all-projects-project {
	width: calc(100% / 3);
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
}

.project-title-keyword {
	background-image: linear-gradient(to right, rgb(194, 170, 119),rgb(134, 100, 87));
  background-clip: text;
	color: transparent;
}

@media (max-width: 600px) {
	.all-projects-project {
		width: calc(100% / 2);
	}
}
